.navbar-inverse {
    background-color: #e61e5d !important;
    border-color: #e61e5d !important;
}

.btn-primary, .btn-primary:hover {
    background-image: -webkit-linear-gradient(#e61e5d, #e61e5d 6%, #e61e5d) !important;
    background-image: -o-linear-gradient(#e72510, #d9230f 6%, #cb210e) !important;
    background-image: linear-gradient(#e61e5d, #e61e5d 6%, #e61e5d) !important;
    background-repeat: no-repeat !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe72510', endColorstr='#ffcb210e', GradientType=0) !important;
    filter: none !important;
    /* border: 1px solid #a91b0c; */
}